.post-container {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid black;
    border-radius: 5px;
}

.post-description {
    justify-content: center;
    font-size: 16px;
    max-width: 75ch;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 1px;
}

.post-description {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 1px;
}