{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ albumpost.title }}</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.png' %}"
    />
  </head>

  <body>
    <h1>{{ albumpost.title }}</h1>

    <!-- Make this work -->
    <div class="album-container">
      {% for image in albumpost.images.all %}
      <img src="{{ image.file_path }}" />
      {% endfor %}
    </div>

    <div class="description-container">
      <p>{{ albumpost.description }}</p>
    </div>
  </body>
</html>
