{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ blogpost.title }}</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.png' %}"
    />
    <link rel="stylesheet" href="{% static 'css/blog_post_detail.css' %}" />
  </head>

  <body>
    <script src="{% static 'js/navbarScrollIndicator.js' %}"></script>
    <div class="header">
      <div class="site-title-container">
        <h1 class="logo">Zac Benattar's Blog</h1>
      </div>

      <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div>
    </div>

    <div class="content">
      <div class="headline-image-container">
        <img
          class="headline-image"
          src="{% static 'images/Content-moderation-image.jpg' %}"
        />
        <div class="blog-title-block">
          <h4>{{ blogpost.title }}</h4>
        </div>
      </div>

      <div class="blogpost-text-body">
        {{ blogpost.body | safe | linebreaks }}
      </div>
    </div>
  </body>
</html>
