{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ blogpost.title }}</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.png' %}"
    />
    <link rel="stylesheet" href="{% static 'css/blog_post_detail.css' %}" />
    <script src="{% static 'js/navbarScrollIndicator.js' %}"></script>
  </head>

  <header>
    <div class="header-proper">
      <h1 class="logo">Zac Benattar's <span class="blue">Blog</span>
      </h1>
    </div>
    <div class="scroll-line"></div>
  </header>

  <div class="main">
    <div class="content">
      <body>
        <h2 class="headline">{{ blogpost.title }}</h2>

        {{ blogpost.body | safe | linebreaks }}
      </body>
    </div>
  </div>
</html>
