{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ blogpost.title }}</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.png' %}"
    />
    <link rel="stylesheet" href="{% static 'css/blog_post_detail.css' %}" />
    <script src="{% static 'js/navbarScrollIndicator.js' %}"></script>
  </head>

  <body>
    <div class="header">
      <div class="title-container">
        <h1 class="logo">Zac Benattar's Blog</h1>
      </div>

      <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div>
    </div>

    <div class="content">
      <div class="title-section">
        <h1 class="headline">{{ blogpost.title }}</h1>
      </div>

      <div class="text-body">{{ blogpost.body | safe | linebreaks }}</div>
    </div>
  </body>
</html>
