{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Zac Benattar's Blog</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.png' %}"
    />
  </head>
  {% if post.get_post_type == 'Blog' %}
  <iframe src="/path/to/file.html" seamless></iframe>

  {% elif post.get_post_type == 'Album' %}
  <iframe src="/path/to/file.html" seamless></iframe>

  {% elif post.get_post_type == 'Video' %}
  <iframe src="/path/to/file.html" seamless></iframe>

  {% endif %}
</html>
