{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ videopost.title }}</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.png' %}"
    />
  </head>

  <body>
    <h1>{{ videopost.title }}</h1>

    <div>
      <!-- Selection statements to determine hosting of the video, whether it be from a file server or youtube -->
      {% if videopost.video.hosting_method == 'Y' %}
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/{{videopost.video.file_path}}"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>

      {% elif videopost.video.hosting_method == 'S' %}
      <iframe
        width="560"
        height="315"
        src="{{videopost.video.file_path}}"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>

      {% else %}
      <!-- This is probably insecure, possbily exposing file paths of the server -->
      <p>
        Invalid video hosting method {{videopost.video.hosting_method}}
        specified for {{videopost.video.title}}.
      </p>
      {% endif %}
    </div>

    <p>{{ videopost.description }}</p>
  </body>
</html>
